<!DOCTYPE html>
<html>

<head>
	<title>Amit Bansal</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body style="background-color:#fbf9fb;">
	<nav style="background-color:#fffeff;"class="navbar navbar-default">
		<div class="container">
			<ul class="nav navbar-nav">
				<li><a href="{% url 'post_list' %}" class="navbar-brand bigbrand">Blog</a></li>
			</ul>

			<ul class="nav navbar-nav">
				<li><a href="{% url 'post_tag' post_tag='algorithms' %}">Algorithms</a></li>
				<li><a href="{% url 'post_tag' post_tag='django' %}">Django</a></li>
			</ul>
			<form class="navbar-form navbar-left" action="{% url 'post_list'%}" method="post">
				{% csrf_token %}
		        <div class="form-group">
		          <input type="text" class="form-control" placeholder="Search" name="qry">
		        </div>
		        <button type="submit" class="btn btn-default">Submit</button>
      		</form>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="http://amitbansal7.com">Amit Bansal</a></li>
				{% if user.is_authenticated %}
				<li>
					<a href="{% url 'post_create' %}">
						<span class="glyphicon glyphicon-plus"></span>
						NewPost
					</a>
				</li>
				<li>
					<a href="{% url 'post_draft' %}">
						Drafts
					</a>
				</li>
				{% endif %}
			</ul>
		</div>
	</nav>

	<div class="content container">

		{% block content %}

		{% endblock content %}

	</div>

</body>
</html>

